@import "compass/reset"

body
  overflow-x: hidden

div, span
  box-sizing: border-box
  white-space: nowrap

div
  clear: both
  float: left
  position: relative

#ingredients, #ingredientHeader
  left: 100px

#ingredientHeader
  width: 750px
  text-align: center

#ingredients
  > span
    cursor: pointer
    width: 50px
    height: 100px
    border: 1px solid #CCC
    display: block
    float: left
    &:hover
      background-color: #FEE
    &:not(:last-child)
      border-right: none
    &.selected
      background-color: #FCC
      border-bottom: none
      border-right: 1px solid
      border-color: #C60
    > span
      font-size: 14px
      cursor: pointer
      display: block
      width: 100px
      height: 50px
      padding: 5px
      position: relative
      top: 100px
      -webkit-transform-origin: 0 0
      -webkit-transform: rotate(-90deg)

div.cocktail
  width: 100%
  cursor: pointer
  &:hover
    background-color: #EEE
  span
    border: 1px solid #EEE
    text-align: center
    line-height: 26px
    box-sizing: border-box
    width: 50px
    float: left
    font-size: 12px
    &.cl
      font-size: 20px
      &.selected
        background-color: #FEE
        border-color: #C60
        border-top: none
      &.selected:not:last
        border-bottom: none
  .name
    width: 100px
    overflow: hidden
    text-align: left
    border: none
  span.special
    left: 850px
    position: absolute
    text-align: left
    width: auto
    border: none
  &.selected
    border: 1px solid #CCC
    border-left: none
    border-right: none
    box-sizing: border-box
  &.selected span
    &.cl, &.special
      display: none
  &.selected:hover
    background-color: transparent

div.all
  display: none
  ul
    margin: 1em
    padding-left: 1.5em
    li.selected
      color: #C00
      text-decoration: italic
  .preparation
    margin: 0 1em 1em 1em
    width: 500px
    white-space: normal
