@import "compass/reset"
@import "compass/css3/transform"
@import "compass/css3/box-sizing"
@import "compass/css3/transition"

body
  overflow-x: hidden

div, span
  +box-sizing(border-box)
  white-space: nowrap

div
  clear: both
  float: left
  position: relative

#searchHeader
  background-color: #EEE
  width: 100%
  padding: 10px
  #search
    width: 95%
    left: 0
    right: 0

#ingredientHeader
  width: 100%
  overflow: hidden
  clear: both
  text-align: center
  height: 30px
  line-height: 30px

#ingredients
  left: 100px
  width: 750px
  height: 130px
  overflow: hidden

#ingredients
  > span
    cursor: pointer
    width: 50px
    height: 100px
    border: 1px solid #CCC
    display: block
    float: left
    overflow: hidden
    &:not(:nth-child(2))
      border-left: none
    &:hover
      background-color: #FEE
    &.selected
      background-color: #FCC
    > span
      font-size: 14px
      cursor: pointer
      display: block
      width: 100px
      height: 50px
      padding: 5px
      position: relative
      top: 100px
      +transform-origin(0, 0)
      +transform(rotate(-90deg))

div.cocktail
  width: 100%
  cursor: pointer
  &:hover
    background-color: #EEE
  div.ingredients
    position: absolute
    overflow: hidden
    height: 28px
    width: 850px
  span
    border: 1px solid #EEE
    text-align: center
    line-height: 26px
    +box-sizing(border-box)
    width: 50px
    float: left
    font-size: 12px
    &.cl
      font-size: 20px
      &.selected
        border: none
        background-color: #FEE
  .name
    padding-left: 1em
    width: 100px
    overflow: hidden
    text-align: left
    border: none
    &.hasSome
      background-color: #FCC
    &.hasHalf
      background-color: #FF9
    &.hasAll
      background-color: #6C6
      font-weight: bold
  &.selected
    border: 1px solid #CCC
    border-left: none
    border-right: none
    +box-sizing(border-box)
  &.selected
    span
      &.cl
        display: none
    div.all
      max-height: 500px
    &:hover
      background-color: transparent

div.all
  display: block
  max-height: 0
  overflow: hidden
  @include transition(max-height 0.22s)
  img
    max-height: 140px
    max-width: 140px
  ul.ingredients
    min-height: 3em
    margin: 1em
    padding-left: 4em
    li.selected
      color: #090
      position: relative
      &:before
        content: '\02713'
        position: absolute
        left: -1em
  div.images
    position: relative
    font-style: italic
    margin: 0 1em 1em 1em
    width: 300px
    border: 1px solid #CCC
    padding: 2px
    +box-sizing(border-box)
    div.bar
      position: relative
      width: 0%
      background-color: #EEE
      @include transition(width 0.2s)
  ul.images
    float: left
    clear: left
    margin: 0 1em 1em 1em
    li
      float: left
      margin-right: 1em
      width: 140px
      height: 140px
      display: inline-block
      text-align: center
  .preparation
    margin: 0 1em 1em 1em
    width: 500px
    white-space: normal
  span.glass
    border: none
    vertical-align: bottom
    height: 50px
    width: 50px
    display: block
    position: absolute
    margin: 1em
    background-image: url('glasses.png')
    &.martini
      background-position: 100px 0
    &.old-fashioned
      background-position: 150px 0
    &.highball
      background-position: 200px 0
    &.margarita
      background-position: 250px 0
    &.hurricane
      background-position: 300px 0
